<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :question_id %>
  <div class="field">
    <%= f.label :お礼コメント %><br>
    <%= f.text_area :body, {:class => 'aabbcc'} %>
  </div>
  <div class="actions">
    <%= f.submit :送信 %>
  </div>
<% end %>
