<h2>アカウント情報の編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :ユーザー名 %>
  <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :メールアドレス %>
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :パスワード %> <i>(変更する場合は入力して下さい)</i>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :確認のためパスワードをもう一度入力して下さい %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :現在のパスワード %>
    <%= f.password_field :current_password, autocomplete: "off" %></div>
  <br>
  <br>
  <div><%= f.submit "変更を保存" , class: "btn" %></div>
  
<% end %>

<h2>アカウントを削除</h2>

<p><%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか？" }, method: :delete %></p>
<%= link_to "戻る", :back %>