<h2>新規フルーツ登録</h2>
<%= form_for(@fruit) do |f| %>
    <%= f.label :image do %>
    <%= f.file_field :image %> 
    <%= f.hidden_field :image_cache %>
    <% end %>
    
    <%= f.label :名前 %>
    <%= f.text_field :name, autofocus: true %>
    
    <div class="btn"><%= f.submit "フルーツを作成" %></div>
<% end %>
