<p id="notice"><%= notice %></p>

<h1>Listing Bas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bas.each do |ba| %>
      <tr>
        <td><%= ba.user_id %></td>
        <td><%= ba.question_id %></td>
        <td><%= ba.body %></td>
        <td><%= link_to 'Show', ba %></td>
        <td><%= link_to 'Edit', edit_ba_path(ba) %></td>
        <td><%= link_to 'Destroy', ba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ba', new_ba_path %>
