<div class="sidebar right-side">
    <span>
        <%= image_tag 'add.jpg',:class => 'add' %>
    </span>
    <span>
        <h2>最新クチコミ</h2>
        

    </span>
    <span>
        <h2>海外FX業者人気ランキング</h2>
        <ul class="sidebar-list">
            <li>
                <%= image_tag 'money.jpg',:class => 'rank-img' %><a href="#" class="rank-name">XM(エックスエム)</a>
            </li>
            <li>
                <%= image_tag 'money.jpg',:class => 'rank-img' %><a href="#" class="rank-name">バナナ☆トレーダー</a>
            </li>
            <li>
                <%= image_tag 'money.jpg',:class => 'rank-img' %><a href="#" class="rank-name">わいばいなりー</a>
            </li>
            <li>
                <%= image_tag 'money.jpg',:class => 'rank-img' %><a href="#" class="rank-name">とろ～りトレード</a>
            </li>
        </ul>
    </span>
</div><!--sidebar-->