<!DOCTYPE html>
<html lang="ja">
<head>
  <title>EDOCOE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script>
  $(function(){
    $('.board_create_btn').on('click', function(){
      $('.board_create').slideToggle(200);
    });
  });
  
  $(function(){
    $(window).load(function(){
  		$(".col-3 input").val("");
  		
  		$(".input-effect input").focusout(function(){
  			if($(this).val() != ""){
  				$(this).addClass("has-content");
  			}else{
  				$(this).removeClass("has-content");
  			}
  		})
	  });
  });
  </script>
  
  <script>
  google.load("feeds", "1");
  function initialize() {
    var url = "http://feed.rssad.jp/rss/klug/rss2.xml"; //フィードURL
    var num = 20; //フィードを読み込む数
    var content = document.getElementById('feed');//フィード表示場所のID名
  
    //キャッシュ対策
    var d = new Date();
    var q = d.getMonth()+""+d.getDate()+""+d.getHours();
    var path = new Array(url + "?" + q); //フィードURL+キャッシュ対策
  
    var html =""; //表示用HTMLの準備
  
    var feed = new google.feeds.Feed(path);
    feed.setNumEntries(num);
    feed.load(function　(result) {
      if (!result.error) {
  
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          var title = entry.title; //タイトル取得
          var link = entry.link; //URL取得
          var day = new Date(entry.publishedDate); //日付取得
          //日付の整理
          var y = day.getYear();
            if (y < 2000) y += 1900;
          var m = day.getMonth() + 1;
            if (m < 10) {m = "0" + m;}
          var d = day.getDate();
            if (d < 10) {d = "0" + d;}
          var date = y + "."+ m +"."+ d;
  
          //記事表示用HTMLを格納
          html += '<p><a href="' + link + '">' + date + title +'</a></p>';
        }
        content.innerHTML = html;　//指定したID内に出力
      }　else　{
        alert(result.error.code + ":" + result.error.message);
      }
    });
  }
  google.setOnLoadCallback(initialize);
  </script>
</head>

<body>
    <div class="all">
      
        <div class="top">
        </div><!--top-->
        <%= render "layouts/header" %>
        <div class="container">
            <%= render "layouts/leftside" %><div class="content">
                <p class="notice"><%= notice %></p>
                <%= yield %>
            </div><%= render "layouts/rightside" %>
            <%= render "layouts/footer" %>

        </div><!--container-->
    </div><!--all-->
</body>
</html>
