<!DOCTYPE html>
<html lang="ja">
<head>
  <title>EDOCOE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  $(function(){
    $('.board_create_btn').on('click', function(){
      $('.board_create').slideToggle(200);
    });
  });
  </script>
</head>

<body>
    <div class="all">
      <%= render "layouts/header" %>
        <div class="top">
        </div><!--top-->
        <div class="container">
            <%= render "layouts/leftside" %><div class="content">
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
                <%= yield %>
            </div><%= render "layouts/rightside" %>
            <%= render "layouts/footer" %>
        </div><!--container-->
    </div><!--all-->
</body>
</html>
